:root {
    --std-spacing: 16px;
    --std-spacing-half: 8px;
    --bg-color-sidebar: aquamarine;
    --bg-color-menu: white;
    --bg-color-project: cornflowerblue;
    --bg-color-main: darkkhaki;
    --bg-color-task: white;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "sidebar main";
}

#sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color-sidebar);
}

#title {
    height: 100px;
    margin: var(--std-spacing) 0 0 var(--std-spacing);
    font-size: 3rem;
}

#projectContainer {
    margin: var(--std-spacing);
    padding: var(--std-spacing);
    background-color: var(--bg-color-menu);
}

#projectTitle {
    margin: 0;
    font-size: 2rem;
}

.projectSelector,
#newProject {
    margin: var(--std-spacing) 0;
    padding: var(--std-spacing-half);
    font-size: 1.5rem;
    background-color: var(--bg-color-project);
    cursor: pointer;
}

#newTask {
    background-color: var(--bg-color-task);
    margin: var(--std-spacing) 0 0 var(--std-spacing);
    height: 100px;
    width: calc(95% - 2 * var(--std-spacing));
}

main {
    grid-area: main;
    height: auto;
    width: 100%;
    overflow: scroll;
    background-color: var(--bg-color-main);
}

#taskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: var(--std-spacing);
}

#containerTitle {
    font-size: 2rem;
    margin-top: var(--std-spacing);
}

.task {
    background-color: var(--bg-color-task);
    margin: var(--std-spacing) 0;
    min-height: 100px;
    width: 95%;
    font-size: 1.5rem;
}