:root {
    --std-spacing: 16px;
    --std-spacing-double: 32px;
    --std-spacing-half: 8px;
    --font-family: 'Times New Roman', Times, serif;
    --bg-color-menu: white;
    --bg-color-project: cornflowerblue;
    --bg-color-sidebar: #92DCE5;
    --bg-color-main: #92DCE5;
    --bg-color-task: white;
    --bg-color-progress: darkred;
    --bg-color-form: antiquewhite;
    --color-priority: black;
    --border-color: black;
    --delete-hover-color: #D81159;
    --font-color-project: black;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "sidebar main";
    font-family: var(--font-family);
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color-sidebar);
}

#title {
    padding: 33px 0;
    height: 50px;
    margin: var(--std-spacing) 0 0 var(--std-spacing-double);
    font-size: 3rem;
}

#projectContainer {
    margin: var(--std-spacing);
    padding: var(--std-spacing);
    max-height: calc(100% - 116px);
    background-color: var(--bg-color-menu);
    border: solid 2px var(--border-color);
    border-width: 2px 4px 4px 2px;
    overflow: scroll;
}

#projectTitle {
    margin: 0;
    font-size: 2rem;
}

.projectSelector,
#newProject {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    height: 45px;
    margin: var(--std-spacing) 0;
    font-size: 1.5rem;
    background-color: var(--bg-color-project);
    cursor: pointer;
}

#newProject {
    margin-top: 0;
}

#projectMenu {
    overflow: scroll;
}

.projectName {
    padding: var(--std-spacing-half);
}

.projectDeleteButton {
    width: 40px;
    background-color: var(--bg-color-task);
}

.projectDeleteButton img {
    height: 20px;
}

.selected {
    border: solid 2px var(--border-color);
    border-width: 2px 4px 4px 2px;
}

#projectInput {
    border: none;
    margin-top: 4px;
    margin-left: 4px;
    padding-left: var(--std-spacing-half);
    height: 35px;
    font-size: 1.3rem;
    font-family: var(--font-family);
    background-color: var(--bg-color-project);
}

#projectInput::placeholder {
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--font-color-project);
}

#projectInputButton {
    height: 90%;
    width: 40px;
    font-size: 1rem;
    background-color: var(--bg-color-task);
    margin: 2px 0;
}

#projectInputButton img {
    height: 20px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow: scroll;
    background-color: var(--bg-color-main);
}

header {
    height: auto;
    margin: var(--std-spacing);
    margin-right: var(--std-spacing-double);
    display: grid;
    grid-template-areas: 
    'sort newTask'
    'child child';
    grid-template-columns: 112px 1fr;
    column-gap: 0;
    row-gap: 0;
}

#sort {
    grid-area: sort;
    z-index: 1;
    min-height: 110px;
    background-color: var(--bg-color-task);
    border: solid 2px var(--border-color);
    border-bottom-width: 4px;
    border-right-width: 0;
}

#sortTitle {
    position: relative;
    width: 100%;
    height: 110px;
    cursor: pointer;
}

#sortTitle img {
    position: absolute;
    top: 35px;
    left: 35px;
    height: 40px;
    margin: 0 auto;
}

#sortMenu {
    grid-area: child;
    display: grid;
    grid-template-columns: 112px 1fr 1fr 1fr 1fr 1fr 1fr;
    height: auto;
    background-color: var(--bg-color-form);
    border: solid 4px var(--border-color);
    border-left-width: 2px;
    border-top-width: 0;
}

#sortMenu div {
    margin: var(--std-spacing);
    padding-top: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

#sortMenu button {
    margin: var(--std-spacing);
    padding: var(--std-spacing-half);
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--bg-color-task);
}

#newTask {
    grid-area: newTask;
    font-weight: bold;
    background-color: var(--bg-color-form);
    min-height: calc(110px - 6px - 2 * var(--std-spacing));
    border: solid 2px var(--border-color);
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-left-width: var(--std-spacing-half);
}

#newTaskTitle {
    height: 30px;
    padding: 40px var(--std-spacing) 40px calc(3 * var(--std-spacing));
    font-size: 1.5rem;
    background-color: var(--bg-color-task);
    cursor: pointer;
}

#newTaskForm, 
.editTaskForm {
    grid-area: child;
    display: grid;
    grid-template-areas: 
    'priorityInput titleInput projectInput dueDateInput'
    'progressInput descriptionInput descriptionInput addButton';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--std-spacing-double);
    height: fit-content;
    width: 100%;
    background-color: var(--bg-color-form);
    border-top: solid 2px var(--border-color);
}

#newTaskForm {
    margin-left: -8px;
    border: solid 2px var(--border-color);
    border-bottom-width: 0px;
    border-top-width: 4px;
    border-left-width: var(--std-spacing-half);
}

form p {
    display: flex;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 0;
}

label {
    margin-bottom: var(--std-spacing-half);
    font-size: 1.2rem;
    font-weight: bold;
}

button {
    font-family: var(--font-family);
    cursor: pointer;
}

input,
select,
option {
    font-size: 1rem;
    font-family: var(--font-family);
    height: 20px;
    border-radius: none;
}

.progressInput {
    grid-area: progressInput;
    margin: var(--std-spacing-half) 0 var(--std-spacing) var(--std-spacing);
}

.priorityInput {
    grid-area: priorityInput;
    margin: var(--std-spacing) 0 0 var(--std-spacing);
}

.titleInput {
    grid-area: titleInput;
    margin-top: var(--std-spacing);
}

.addToProjectInput {
    grid-area: projectInput;
    margin-top: var(--std-spacing);
}

.descriptionInput {
    grid-area: descriptionInput;
    margin-top: var(--std-spacing-half);
    margin-bottom: var(--std-spacing);
}

textarea {
    font-size: 1rem;
}

.dueDateInput {
    grid-area: dueDateInput;
    margin: var(--std-spacing) var(--std-spacing) 0 0;
}

#addTaskButton,
.editTaskButton {
    grid-area: addButton;
    align-self: center;
    font-size: 1rem;
    margin: var(--std-spacing-half) var(--std-spacing) var(--std-spacing) 0;
    width: auto;
    height: 50px;
    background-color: var(--bg-color-task);
}

#taskContainer {
    grid-area: container;
    display: flex;
    flex-direction: column;
    margin-left: var(--std-spacing);
    margin-right: var(--std-spacing-double);
}

.task {
    margin-bottom: var(--std-spacing);
    border: solid 2px var(--border-color);
    border-right-width: 4px;
    background-color: var(--bg-color-task);
}

.taskContent {
    display: flex;
    position: relative;
    height: 110px;
}

.expanded {
    min-height: 110px;
    height: auto;
}

.progressContainer {
    position: absolute;
    left: 0;
    display: flex;
    width: 110px;
    height: 100%;
    border-right: solid var(--std-spacing-half) var(--color-priority);
}

.progress {
    position: absolute;
    display: flex;
    bottom: 0;
    margin: 0;
    height: 100%;
    background-color: var(--bg-color-progress);
}

.progressButton {
    position: absolute;
    left: 35px;
    top: 35px;
    border-radius: 100%;
    border-width: 4px;
    height: 40px;
    width: 40px;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--bg-color-task);
}

.progressButton img {
    height: 25px;
}

.priority {
    position: absolute;
    left: calc(110px + var(--std-spacing-half));
    height: 100%;
    width: var(--std-spacing);
    margin-left: var(--std-spacing);
}

.lowPriority {
    border-left: solid var(--std-spacing-half) var(--bg-color-task);
    border-right: solid var(--std-spacing-half) var(--bg-color-task);
}

.medPriority {
    border-left: solid var(--std-spacing-half) var(--color-priority);
    border-right: solid var(--std-spacing-half) var(--bg-color-task);
}

.highPriority {
    border-left: solid var(--std-spacing-half) var(--color-priority);
    border-right: solid var(--std-spacing-half) var(--color-priority);
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: calc(110px + 3.5 * var(--std-spacing));
    padding: var(--std-spacing);
    width: calc(100% - 320px - 5.5 * var(--std-spacing));
    cursor: pointer;
}

.taskTitle {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.taskProject {
    margin-top: calc(0.5 * var(--std-spacing-half));
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.taskDescription {
    margin-top: calc(0.5 * var(--std-spacing-half));
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fullDescription {
    white-space: normal;
}

.rightContainer {
    position: absolute;
    right: 0;
    height: 100%;
    width: 210px;
    display: grid;
    column-gap: var(--std-spacing-half);
    grid-template-areas: 
    "dueDate delete"
    "dueDate edit";
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 55px;
    cursor: pointer;
}

.dueDate {
    grid-area: dueDate;
    align-self: center;
    font-size: 1.2rem;
}

.deleteButton {
    grid-area: delete;
    padding: none;
    background-color: var(--bg-color-task);
}

.deleteButton:hover {
    background-color: var(--delete-hover-color);
}

.editButton {
    grid-area: edit;
    padding: none;
    background-color: var(--bg-color-task);
}

.editButton:hover {
    background-color: var(--bg-color-form);
}

.deleteButton img,
.editButton img {
    height: 25px;
    padding: none;
}