:root {
    --std-spacing: 16px;
    --std-spacing-double: 32px;
    --std-spacing-half: 8px;
    --font-family: 'Times New Roman', Times, serif;
    --bg-color-sidebar: aquamarine;
    --bg-color-menu: white;
    --bg-color-project: cornflowerblue;
    --bg-color-main: darkkhaki;
    --bg-color-task: white;
    --bg-color-progress: darkred;
    --color-priority: lightgreen;
    --bg-color-form: grey;
    --font-color-project: black;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "sidebar main";
    font-family: var(--font-family);
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color-sidebar);
}

#title {
    padding: 25px 0;
    height: 50px;
    margin: var(--std-spacing) 0 0 var(--std-spacing-double);
    font-size: 3rem;
}

#projectContainer {
    margin: var(--std-spacing);
    padding: var(--std-spacing);
    background-color: var(--bg-color-menu);
}

#projectTitle {
    margin: 0;
    font-size: 2rem;
}

.projectSelector,
#newProject {
    height: 30px;
    margin: var(--std-spacing) 0;
    padding: var(--std-spacing-half);
    font-size: 1.5rem;
    background-color: var(--bg-color-project);
    cursor: pointer;
}

.selected {
    box-shadow: 0 0 5px black;
}

#projectInput {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-family);
    background-color: var(--bg-color-project);
}

#projectInput::placeholder {
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--font-color-project);
}

main {
    grid-area: main;
    height: auto;
    width: 100%;
    overflow: scroll;
    background-color: var(--bg-color-main);
}

#newTask {
    position: sticky;
    position: -webkit-sticky;
    top: var(--std-spacing);
    z-index: 1;
    background-color: var(--bg-color-form);
    margin: var(--std-spacing) 0 0 var(--std-spacing);
    min-height: calc(100px - 2 * var(--std-spacing));
    width: calc(95% - 2 * var(--std-spacing));
}

#newTaskTitle {
    height: 30px;
    padding: 35px var(--std-spacing);
    font-size: 1.5rem;
    background-color: var(--bg-color-task);
}

label {
    margin: var(--std-spacing-half) 0;
    font-size: 1rem;
}

#newTaskForm, 
.editTaskForm {
    display: grid;
    grid-template-areas: 
    "leftInput centerInput rightInput"
    "leftInput centerInput addButton";
    grid-template-columns: 1fr 50% 1fr;
    column-gap: var(--std-spacing-double);
    background-color: var(--bg-color-form);
}

#leftInput {
    grid-area: leftInput;
    display: flex;
    flex-direction: column;
}

#centerInput {
    grid-area: centerInput;
    display: flex;
    flex-direction: column;
}

#rightInput {
    grid-area: rightInput;
    display: flex;
    flex-direction: column;
}

#addTaskButton {
    grid-area: addButton;
    font-size: 1rem;
    margin: var(--std-spacing);
    padding: var(--std-spacing-half);
}

#taskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--std-spacing);
}

.task {
    margin-bottom: var(--std-spacing);
    width: 95%;
    background-color: var(--bg-color-task);
}

.taskContent {
    display: flex;
    position: relative;
    height: 100px;
    font-size: 1.5rem;
}

.progressContainer {
    position: relative;
    width: 100px;
    height: 100px;
    border-right: solid var(--std-spacing-half) var(--color-priority);
}

.progress {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100px;
    background-color: var(--bg-color-progress);
}

.progressButton {
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: var(--bg-color-form);
}

.priority {
    min-height: 100px;
    width: var(--std-spacing);
    margin-left: var(--std-spacing);
}

.lowPriority {
    border-left: solid var(--std-spacing-half) var(--bg-color-task);
    border-right: solid var(--std-spacing-half) var(--bg-color-task);
}

.medPriority {
    border-left: solid var(--std-spacing-half) var(--color-priority);
    border-right: solid var(--std-spacing-half) var(--bg-color-task);
}

.highPriority {
    border-left: solid var(--std-spacing-half) var(--color-priority);
    border-right: solid var(--std-spacing-half) var(--color-priority);
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin: var(--std-spacing);
}

.taskTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.taskProject {
    font-size: 1.2rem;
}

.taskDescription {
    font-size: 1rem;
}

.rightContainer {
    position: absolute;
    right: 0;
    height: 100%;
    display: grid;
    column-gap: var(--std-spacing);
    grid-template-areas: 
    "dueDate delete"
    "dueDate edit";
}

#dueDate {
    grid-area: dueDate;
    align-self: center;
}

.deleteButton {
    grid-area: delete;
}

.editButton {
    grid-area: edit;
}